Dockerfile
*.txt
*.ckpt
*.pdf
*.mov
*.mp4
tags
*.zip
.git
model1/checkpoints
model1/wandb
PennFudanPed
models
training_runs
!*model_checkpoint_keypoints_23_epoch_9_2022-10-04-1403.ckpt
!model1/checkpoints/model_checkpoint_keypoints_23_epoch_2_2022-08-31-2214.ckpt
!requirements.txt
!COCO_requirements.txt